services:
  - type: web
    name: telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python render_bot.py
    envVars:
      - key: BOT_TOKEN
        value: 8370075275:AAEremkos1w0K6OLswNNerkkqNoluWhAYHg